#VRScene{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1;
}

#score{
    z-index: 2;
}


#start{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:2;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

